* {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
    background-color: #fafafa;
  }
  

  
  *:not(a) {
    color: #444444;
  }
   
  main {
    font-family: sans-serif;
    margin: 0 auto;
    max-width: 600px;
    padding: 0 20px 20px;
  }
  
  
  h1 {
    font-size: 30px;
  }
  






  
